/*html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans'
}

main {
    position: relative;
    padding-top: 60px;
}*/

.white {
    color: white;
}

.white:hover{
    color: white;
}

/*th {
  cursor: pointer;
}

.navbar-header {
    width: 300px;
}

.nav.navbar-padding {
    margin-left:25px;
    margin-top: 10px;
}

.app-title {
    line-height:50px;
    font-size:20px;
    color: white;
}

.navbar .nav > li.toolbar-item > a {
    color: #9E9E9E;
    font-weight:bold;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar .nav > .toolbar-item > a.active {
    color: #000;
}

.toolbar-item a {
  cursor: pointer;
}

.view {

}

.indent {
    margin-left:5px;
}

*/.card-container {
    width:85%;
}

.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height:100px;
    margin-bottom: 20px;
    position: relative;
}

.card-header {
    background-color:#027FF4;
    font-size:14pt;
    color:white;
    padding:5px;
    width:100%;
}

.card-close {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.card-body {
    padding-left: 5px;
}

.card-body-left {
    margin-top: -5px;
}

.card-body-right {
    margin-left: 20px;
    margin-top: 2px;
}

.card-body-content {
    width: 100px;
}

.card-image {
    height:50px;width:50px;margin-top:10px;
}
.avatar-circle {
  width: 55.99px;
  height: 55.99px;
  background-color: buttonhighlight;
  text-align: center;
  border-radius: 50%;
  border-color: greenyellow;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials {
  position: relative;
  top: 25px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

filter-textbox {
    margin-top: 5px;
}

.text-teal {
    color: #009688;
}

