
<md-toolbar>        
        <span class="text-primary">Diagnoses</span>
         <a  md-button class="md-icon-button" (click)="addDiagnose()" >
            <i class="material-icons">plus_one</i>                           
        </a>        
    </md-toolbar>
    <md-list>
        <md-list-item>
            <md-input id="name" placeholder="Diagnose name?" [(ngModel)]="name"></md-input>
            <md-input id="description" placeholder="Diagnose description?" [(ngModel)]="description"></md-input>
             <a  md-button class="md-icon-button" (click)="addDiagnose()" >
               <i class="material-icons">thumb_up</i>
            </a>
<!--            <button md-fab class="md-mini red" (click)="deleteDiagnose(diagnose)"  aria-label="Remove patient">
                <i class="fa fa-recycle"></i>
            </button>-->
        </md-list-item>
        <md-list-item class="md-2-line col-md-3" *ngFor="let diagnose of diagnoseStore.diagnoses | async">
            <img class="md-avatar" src="assets/images/m.png" class="card-image" />
            <div class="md-list-item-text">
                <h3>{{diagnose.name }}</h3>
                <p>{{diagnose.description }}</p>               
            </div> 
              <button md-fab class="md-mini red" (click)="deleteDiagnose(diagnose)"  aria-label="Remove patient">
                <i class="fa fa-recycle"></i>
            </button>
<!--            <div flex-xs="100" flex="50" class="pull-left">
            <md-checkbox [(checked)]="diagnose.id" >
            </md-checkbox>
          </div>-->
            
        </md-list-item>
    </md-list>