
<div id="row" class="page-wrapper blue-gradient-background1"  ng-cloak md-theme="dark">


     <div id="content-wrapper">
        <div class="page-content" layout-fill>
            <div  layout-fill  *ngIf="!authService.loggedIn()">
<!--                 <div  class="transparent_bg" flex-sm="45" flex-gt-sm="35" flex-gt-md="50"  >
                    <h1 class="white light splash-title">
                        Smiletime Dashboard Application
                    </h1>

                    <p class="white light splash-subtitle">
                      Please log in to enter dashboard.
                    </p>
                   <div id="search-form">
                      <button class="bright-blue-hover btn-white" (click)="authService.login()">Login</button>
                   </div>
                </div>-->
<!-- <div class="messaging" layout layout-align="center center">-->
                   
                <div class="intro-splash splash messaging" layout layout-align="center center"   *ngIf="!authService.loggedIn()">
                <div class="container center-all-container" >
                 
                    <h1 class="white light splash-title">
                     Smiletime Dashboard Application
                  </h1>

                  <p class="white light splash-subtitle">
                     Please log in to enter dashboard.
                  </p>
                  
                
                  
                  <div id="login-form">
                      <button class="bright-blue-hover btn-white" (click)="authService.login()">Login</button>
                  </div>
                </div>
              </div>
 <!--</div>-->
               
            </div>
           

            <!--       Header Bar 
-->               <div class="row header"  *ngIf="authService.loggedIn()">
                      <auth-component></auth-component>       
                  </div>
<!--                   End Header Bar -->
<!--                  &lt;!&ndash; Main Content &ndash;&gt;-->
                  <router-outlet></router-outlet><!--
            -->    </div>  <!-- End Page Content  -->  
    </div>  <!-- End Content Wrapper    --> 
</div> <!-- End Page Wrapper  --> 

